{% extends 'frontend/index.html' %}


{% block 'content' %}

{% include 'frontend/partials/_navbar.html' %}
<!-- END nav -->

{% include 'frontend/partials/_slides.html' %}

{% include 'frontend/partials/_welcome.html' %}


{% include 'frontend/partials/_features.html' %}

{% include 'frontend/partials/_rooms.html' %}


{% include 'frontend/partials/_numbers.html' %}

{% include 'frontend/partials/_testimonials.html' %}


{% include 'frontend/partials/_blogs.html' %}

{% include 'frontend/partials/_gallery.html' %}

{% include 'frontend/partials/_footer.html' %}


{% endblock %}
